.flokkur {
  border: 1px solid black;
  border-radius: 10px;
  background-color: blanchedalmond;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 1em;
  min-width: 30%;
  max-width: 60%;

  a {
    color: black;
  }
}
